In [75]:
import pandas as pd
import warnings
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.linear_model import LogisticRegression
import seaborn as sns
import pylab as plt
import statsmodels.api as sm
import numpy as np
warnings.filterwarnings('ignore')

In [76]:
df = pd.read_csv('regression_data.csv', delimiter= ';')
print(df.head())

           id        date  bedrooms bathrooms  sqft_living  sqft_lot floors  \
0  7129300520  13/10/2014         3         1         1180      5650      1
1  6414100192  09/12/2014         3      2,25         2570      7242      2
2  5631500400  25/02/2015         2         1          770     10000      1
3  2487200875  09/12/2014         4         3         1960      5000      1
4  1954400510  18/02/2015         3         2         1680      8080      1

   waterfront  view  condition  ...  sqft_above  sqft_basement  yr_built  \
0           0     0          3  ...        1180              0      1955
1           0     0          3  ...        2170            400      1951
2           0     0          3  ...         770              0      1933
3           0     0          5  ...        1050            910      1965
4           0     0          3  ...        1680              0      1987

   yr_renovated  zipcode      lat      long sqft_living15  sqft_lot15   price
0             0    98178  47,5112  -122,257          1340        5650  221900
1          1991    98125   47,721  -122,319          1690        7639  538000
2             0    98028  47,7379  -122,233          2720        8062  180000
3             0    98136  47,5208  -122,393          1360        5000  604000
4             0    98074  47,6168  -122,045          1800        7503  510000

[5 rows x 21 columns]

In [77]:
print('COLUMNAS')
print(df.columns)
print('\n')
print('INFO')
df.info()

COLUMNAS
Index(['id', 'date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'price'],
      dtype='object')


INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   bedrooms       21597 non-null  int64
 3   bathrooms      21597 non-null  object
 4   sqft_living    21597 non-null  int64
 5   sqft_lot       21597 non-null  int64
 6   floors         21597 non-null  object
 7   waterfront     21597 non-null  int64
 8   view           21597 non-null  int64
 9   condition      21597 non-null  int64
 10  grade          21597 non-null  int64
 11  sqft_above     21597 non-null  int64
 12  sqft_basement  21597 non-null  int64
 13  yr_built       21597 non-null  int64
 14  yr_renovated   21597 non-null  int64
 15  zipcode        21597 non-null  int64
 16  lat            21597 non-null  object
 17  long           21597 non-null  object
 18  sqft_living15  21597 non-null  int64
 19  sqft_lot15     21597 non-null  int64
 20  price          21597 non-null  int64
dtypes: int64(16), object(5)
memory usage: 3.5+ MB

In [78]:
df_copia = df.copy()

In [79]:
df = df.drop(columns = ['date','lat','long','zipcode'],axis = 1 )

In [80]:
df = df.drop(columns = ['sqft_above','sqft_basement','sqft_living','sqft_lot'], axis = 1)
print(df.head())
print(df.columns)

           id  bedrooms bathrooms floors  waterfront  view  condition  grade  \
0  7129300520         3         1      1           0     0          3      7
1  6414100192         3      2,25      2           0     0          3      7
2  5631500400         2         1      1           0     0          3      6
3  2487200875         4         3      1           0     0          5      7
4  1954400510         3         2      1           0     0          3      8

   yr_built  yr_renovated  sqft_living15  sqft_lot15   price
0      1955             0           1340        5650  221900
1      1951          1991           1690        7639  538000
2      1933             0           2720        8062  180000
3      1965             0           1360        5000  604000
4      1987             0           1800        7503  510000
Index(['id', 'bedrooms', 'bathrooms', 'floors', 'waterfront', 'view',
       'condition', 'grade', 'yr_built', 'yr_renovated', 'sqft_living15',
       'sqft_lot15', 'price'],
      dtype='object')

In [81]:
for i in range(len(df['yr_renovated'])):
    if df['yr_renovated'][i] != 0:
        df['yr_built'][i] = df['yr_renovated'][i]
df = df.drop(columns=['yr_renovated'],axis= 1)
print(df['yr_built'])

0        1955
1        1991
2        1933
3        1965
4        1987
         ...
21592    2009
21593    2014
21594    2009
21595    2004
21596    2008
Name: yr_built, Length: 21597, dtype: int64

In [82]:
df.to_csv('csv_limpio.csv')