In [5]:
import pandas as pd
import seaborn as sns

Leemos el csv

In [10]:
df = pd.read_csv('regression_data.csv')
df.head()

,7129300520,10/13/14,3,1,1180,5650,1.1,0,0.1,3.1,...,1180.1,0.2,1955,0.3,98178,47.5112,-122.257,1340,5650.1,221900
0,6414100192,12/9/14,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
1,5631500400,2/25/15,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
2,2487200875,12/9/14,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
3,1954400510,2/18/15,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000
4,7237550310,5/12/14,4,4.50,5420,101930,1.0,0,0,3,...,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,1230000

Lo examinamos

In [11]:
print('COLUMNAS')
print(df.columns)
print('\n')
print('INFO')
df.info()

COLUMNAS
Index(['7129300520', '10/13/14', '3', '1', '1180', '5650', '1.1', '0', '0.1',
       '3.1', '7', '1180.1', '0.2', '1955', '0.3', '98178', '47.5112',
       '-122.257', '1340', '5650.1', '221900'],
      dtype='object')


INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21596 entries, 0 to 21595
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   7129300520  21596 non-null  int64
 1   10/13/14    21596 non-null  object
 2   3           21596 non-null  int64
 3   1           21596 non-null  float64
 4   1180        21596 non-null  int64
 5   5650        21596 non-null  int64
 6   1.1         21596 non-null  float64
 7   0           21596 non-null  int64
 8   0.1         21596 non-null  int64
 9   3.1         21596 non-null  int64
 10  7           21596 non-null  int64
 11  1180.1      21596 non-null  int64
 12  0.2         21596 non-null  int64
 13  1955        21596 non-null  int64
 14  0.3         21596 non-null  int64
 15  98178       21596 non-null  int64
 16  47.5112     21596 non-null  float64
 17  -122.257    21596 non-null  float64
 18  1340        21596 non-null  int64
 19  5650.1      21596 non-null  int64
 20  221900      21596 non-null  int64
dtypes: float64(4), int64(16), object(1)
memory usage: 3.5+ MB

Redondeamos los números con decimales

In [12]:
def redondear(columna):
    for i in range(len(df)):
        if ',' in df[columna][i]:
            df[columna][i] = float(df[columna][i].replace(',','.'))
            df[columna][i] = round(df[columna][i])
    return df

redondear('bathrooms')
print(df['bathrooms'])
redondear('floors')
print(df['floors'])

KeyError: 'bathrooms'